/*******\
  Body
\*******/


body {
  background-color: orange;
  color: brown;
  text-align: center;
  font-family: "Comic Sans MS";
}

a {
  text-decoration: none;
  color: black;

}

a:hover {
  color: brown;
}

#copy {
  font-size: 10px;
  font-family: "Arial black";
  text-align: center;
}

.top {
  padding-top: 50px;
}
.monks {
  text-align: center;
  list-style: none;
  color: inherit;
  font-size: 25px;
}

.staff {
  text-align: center;
  list-style: none;
  color: inherit;
  font-size: 25px;
}

.staff a {
  text-decoration: none;
  color: inherit;
}
.staff a:hover {
  text-shadow: 2px 2px #CC6600;
}
#email {
  font-size: 20px;

}
#email a {
  text-decoration: none;
  color: red;
}
#email a:hover {
  text-shadow: 2px 2px dodgerblue;
}
#monks {
  margin-left: 10px;
}
/********\
Footer: Social
\********/
#social {
  margin-right: 40px;

}
#social li {
  display: inline-block;

}
