/********\
   Body
\********/


body {
  background-color: orange;
  color: brown;
  text-align: center;
  font-family: "Comic Sans MS";
}

a, a:hover{
  text-decoration: none;
  color: black;

}

img {
  margin: auto;
  display: block;
}

#TW a:hover {
  text-shadow: 2px 2px #CC6600;
}

#copy {
  font-size: 10px;
  font-family: "Arial black";
  text-align: center;
}

.top {
  padding-top: 50px;
}

.img {
  background-size: 100%;
}
/********\
   Nav
\********/

nav li {
  list-style: none;
  display: inline;
  margin-right: 40px;
}

nav a {
  text-decoration: none;
  text-align: center;
}
nav a:hover {
  color: #CC6600;
}
/********\
Footer: Social
\********/
#social {
  margin-right: 40px;

}
#social li {
  display: inline-block;

}
