body {
  background-color: orange;
  color: brown;
  text-align: center;
  font-size: 50px;
  font-family: "Comic Sans MS";
}

a, a:hover{
  text-decoration: none;
  color: blue;
}

img {
  margin: auto;
  display: block;
}
